#define IDM_TEST 1
#define IDM_HELLO 2
#define IDM_GOODBYE 3
#define IDM_EXIT 4

FirstMenu MENU
{
 POPUP "Daniel"
        {
         MENUITEM "This is",IDM_HELLO
         MENUITEM "How you do", IDM_GOODBYE
         MENUITEM SEPARATOR
         MENUITEM "Menu!",IDM_EXIT
        }
 MENUITEM "&Test Button", IDM_TEST
}
